* { font-family: 'PT Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif; }
body { background: #FCFAF2 url(images/texture.png); }

.main-container { max-width: 900px; margin: 0 auto; padding-top: 80px; }
.content-area { margin: 0px 10px; }
.content-area h1 { font-size: 2.3rem; line-height: 1.2; padding: 0.2em 0 0.3em 0;}
.content-area em { color: #afafaf; }
.content-area article { padding: 20px 0px; font-size: 16px; line-height: 2.1; margin-bottom: 10px; }

article pre.prettyprint { border-radius: 5px; padding: 12px; background: #fdfdfd;}
article code { border: solid 1px #afafaf; padding: 2px; background: #fdfdfd; border-radius: 5px; }

.article-list h1 a, .article-list h2 a { color: #000; }
.article-list article { border-bottom: dashed 1px #afafaf;}

@media (max-width: 1024px) {
    .main-container { padding-top: 0px; }
}
